li {
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    height: 40vh; 
    width: 100%; 
    display: block; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('./public/images/3.jpg');
    background-size: contain;
    background-position: 0 0;
}

.box {
    border: 5px;
    border-color: brown;
    border-style: solid;
    margin: 2px;
}